{% extends "layout.html" %}


{% block content %}
      <div class="row">

        {% for hotel in hotels %}
        <div class="col-sm-4">

          <div class="card" style="width:300px">
            
            <div class="card-body">
              <h4 class="card-title">{{ hotel["name"] }}</h4>
            </div>

            <img class="card-img" src="{{ url_for('static', filename=hotel['img_src'] ) }}">

            <div class="container">
              <table class="table table-striped">
                
                <tbody>

                  <tr>
                    <td class="bold">値段</td>
                    <td>{{ hotel["price"] }}円</td>
                  </tr>

                  <tr>
                    <td class="bold">最寄り駅</td>
                    <td>{{ hotel["station"] }}</td>
                  </tr>

                  <tr>
                    <td colspan="2">
                    <P>{{ hotel["summary"] }}</P>
                    </td>
                  </tr>
            
                </tbody>
              </table>  
            </div>

            <a href="/detail/{{ hotel['id'] }}" class="btn btn-info">IMFORMATION</a>

          </div>  
        </div>

        {% endfor %}


      </div>

{% endblock %}